header {
    padding: 1rem;
    display: flex;
    justify-content: flex-end;
    background-color: #373b69;
}

.header-navbar #form {
    background-color: transparent;
    border: 2px solid #22254b;
    border-radius: 50px;
}

.header-navbar select {
    background-color: transparent;
    border: 0;
    font-size: 1rem;
    padding: 0.5rem 1rem;
    color: #fff;
    margin-right: 10px;
}

select:active,
select:focus {
    outline: 0;
}

.header-navbar option {
    background-color: transparent;
    color: #22254b;
}

.search {
    background-color: transparent;
    outline: 0;
    border: 0;
    border-radius: 50px;
    font-family: inherit;
    font-size: 1rem;
    padding: 0.5rem 1rem;
    color: #fff;
    margin-right: 20px;
}

.search::placeholder {
    color: #7378c5;
}

.search:focus {
    outline: none;
    background-color: #22254b;
}

.header-navbar ul {
    display: flex;
    align-items: center;
    list-style: none;
}

.header-navbar ul li {
    margin: 0 20px;
}

.header-navbar ul li:last-of-type {
    cursor: pointer;
    color: #fff;
}

.header-navbar ul li a,
.header-navbar ul li a::after {
    text-decoration: none;
    color: #fff;
}